*{
    margin: 20px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    display:flex
}



.background h1{
    text-align: center;
    font-size: 36px;
    color: lightslategray;

}

.background p {
    font-family: cursive;
    font-size: 14px;
}

